#chat-screen {
  background-color: #abc1d1;
  height: 1100vh;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  top: 0;
  background-color: #abc1d1;
}

.main-chats {
  margin-top: 150px;
}
